# Godot 4+ specific ignores
.godot/
/android/
data_Rikiki 2D_windows_x86_64/clretwrc.dll
data_Rikiki 2D_windows_x86_64/clrgc.dll
data_Rikiki 2D_windows_x86_64/clrjit.dll
data_Rikiki 2D_windows_x86_64/coreclr.dll
data_Rikiki 2D_windows_x86_64/createdump.exe
data_Rikiki 2D_windows_x86_64/GodotSharp.dll
data_Rikiki 2D_windows_x86_64/hostfxr.dll
data_Rikiki 2D_windows_x86_64/hostpolicy.dll
data_Rikiki 2D_windows_x86_64/Microsoft.CSharp.dll
data_Rikiki 2D_windows_x86_64/Microsoft.DiaSymReader.Native.amd64.dll
data_Rikiki 2D_windows_x86_64/Microsoft.VisualBasic.Core.dll
data_Rikiki 2D_windows_x86_64/Microsoft.VisualBasic.dll
data_Rikiki 2D_windows_x86_64/Microsoft.Win32.Primitives.dll
data_Rikiki 2D_windows_x86_64/Microsoft.Win32.Registry.dll
data_Rikiki 2D_windows_x86_64/mscordaccore.dll
data_Rikiki 2D_windows_x86_64/mscordaccore_amd64_amd64_8.0.2225.52707.dll
data_Rikiki 2D_windows_x86_64/mscordbi.dll
data_Rikiki 2D_windows_x86_64/mscorlib.dll
data_Rikiki 2D_windows_x86_64/mscorrc.dll
data_Rikiki 2D_windows_x86_64/msquic.dll
data_Rikiki 2D_windows_x86_64/netstandard.dll
data_Rikiki 2D_windows_x86_64/Rikiki 2D.deps.json
data_Rikiki 2D_windows_x86_64/Rikiki 2D.dll
data_Rikiki 2D_windows_x86_64/Rikiki 2D.pdb
data_Rikiki 2D_windows_x86_64/Rikiki 2D.runtimeconfig.json
data_Rikiki 2D_windows_x86_64/System.AppContext.dll
data_Rikiki 2D_windows_x86_64/System.Buffers.dll
data_Rikiki 2D_windows_x86_64/System.Collections.Concurrent.dll
data_Rikiki 2D_windows_x86_64/System.Collections.dll
data_Rikiki 2D_windows_x86_64/System.Collections.Immutable.dll
data_Rikiki 2D_windows_x86_64/System.Collections.NonGeneric.dll
data_Rikiki 2D_windows_x86_64/System.Collections.Specialized.dll
data_Rikiki 2D_windows_x86_64/System.ComponentModel.Annotations.dll
data_Rikiki 2D_windows_x86_64/System.ComponentModel.DataAnnotations.dll
data_Rikiki 2D_windows_x86_64/System.ComponentModel.dll
data_Rikiki 2D_windows_x86_64/System.ComponentModel.EventBasedAsync.dll
data_Rikiki 2D_windows_x86_64/System.ComponentModel.Primitives.dll
data_Rikiki 2D_windows_x86_64/System.ComponentModel.TypeConverter.dll
data_Rikiki 2D_windows_x86_64/System.Configuration.dll
data_Rikiki 2D_windows_x86_64/System.Console.dll
data_Rikiki 2D_windows_x86_64/System.Core.dll
data_Rikiki 2D_windows_x86_64/System.Data.Common.dll
data_Rikiki 2D_windows_x86_64/System.Data.DataSetExtensions.dll
data_Rikiki 2D_windows_x86_64/System.Data.dll
data_Rikiki 2D_windows_x86_64/System.Diagnostics.Contracts.dll
data_Rikiki 2D_windows_x86_64/System.Diagnostics.Debug.dll
data_Rikiki 2D_windows_x86_64/System.Diagnostics.DiagnosticSource.dll
data_Rikiki 2D_windows_x86_64/System.Diagnostics.FileVersionInfo.dll
data_Rikiki 2D_windows_x86_64/System.Diagnostics.Process.dll
data_Rikiki 2D_windows_x86_64/System.Diagnostics.StackTrace.dll
data_Rikiki 2D_windows_x86_64/System.Diagnostics.TextWriterTraceListener.dll
data_Rikiki 2D_windows_x86_64/System.Diagnostics.Tools.dll
data_Rikiki 2D_windows_x86_64/System.Diagnostics.TraceSource.dll
data_Rikiki 2D_windows_x86_64/System.Diagnostics.Tracing.dll
data_Rikiki 2D_windows_x86_64/System.dll
data_Rikiki 2D_windows_x86_64/System.Drawing.dll
data_Rikiki 2D_windows_x86_64/System.Drawing.Primitives.dll
data_Rikiki 2D_windows_x86_64/System.Dynamic.Runtime.dll
data_Rikiki 2D_windows_x86_64/System.Formats.Asn1.dll
data_Rikiki 2D_windows_x86_64/System.Formats.Tar.dll
data_Rikiki 2D_windows_x86_64/System.Globalization.Calendars.dll
data_Rikiki 2D_windows_x86_64/System.Globalization.dll
data_Rikiki 2D_windows_x86_64/System.Globalization.Extensions.dll
data_Rikiki 2D_windows_x86_64/System.IO.Compression.Brotli.dll
data_Rikiki 2D_windows_x86_64/System.IO.Compression.dll
data_Rikiki 2D_windows_x86_64/System.IO.Compression.FileSystem.dll
data_Rikiki 2D_windows_x86_64/System.IO.Compression.Native.dll
data_Rikiki 2D_windows_x86_64/System.IO.Compression.ZipFile.dll
data_Rikiki 2D_windows_x86_64/System.IO.dll
data_Rikiki 2D_windows_x86_64/System.IO.FileSystem.AccessControl.dll
data_Rikiki 2D_windows_x86_64/System.IO.FileSystem.dll
data_Rikiki 2D_windows_x86_64/System.IO.FileSystem.DriveInfo.dll
data_Rikiki 2D_windows_x86_64/System.IO.FileSystem.Primitives.dll
data_Rikiki 2D_windows_x86_64/System.IO.FileSystem.Watcher.dll
data_Rikiki 2D_windows_x86_64/System.IO.IsolatedStorage.dll
data_Rikiki 2D_windows_x86_64/System.IO.MemoryMappedFiles.dll
data_Rikiki 2D_windows_x86_64/System.IO.Pipes.AccessControl.dll
data_Rikiki 2D_windows_x86_64/System.IO.Pipes.dll
data_Rikiki 2D_windows_x86_64/System.IO.UnmanagedMemoryStream.dll
data_Rikiki 2D_windows_x86_64/System.Linq.dll
data_Rikiki 2D_windows_x86_64/System.Linq.Expressions.dll
data_Rikiki 2D_windows_x86_64/System.Linq.Parallel.dll
data_Rikiki 2D_windows_x86_64/System.Linq.Queryable.dll
data_Rikiki 2D_windows_x86_64/System.Memory.dll
data_Rikiki 2D_windows_x86_64/System.Net.dll
data_Rikiki 2D_windows_x86_64/System.Net.Http.dll
data_Rikiki 2D_windows_x86_64/System.Net.Http.Json.dll
data_Rikiki 2D_windows_x86_64/System.Net.HttpListener.dll
data_Rikiki 2D_windows_x86_64/System.Net.Mail.dll
data_Rikiki 2D_windows_x86_64/System.Net.NameResolution.dll
data_Rikiki 2D_windows_x86_64/System.Net.NetworkInformation.dll
data_Rikiki 2D_windows_x86_64/System.Net.Ping.dll
data_Rikiki 2D_windows_x86_64/System.Net.Primitives.dll
data_Rikiki 2D_windows_x86_64/System.Net.Quic.dll
data_Rikiki 2D_windows_x86_64/System.Net.Requests.dll
data_Rikiki 2D_windows_x86_64/System.Net.Security.dll
data_Rikiki 2D_windows_x86_64/System.Net.ServicePoint.dll
data_Rikiki 2D_windows_x86_64/System.Net.Sockets.dll
data_Rikiki 2D_windows_x86_64/System.Net.WebClient.dll
data_Rikiki 2D_windows_x86_64/System.Net.WebHeaderCollection.dll
data_Rikiki 2D_windows_x86_64/System.Net.WebProxy.dll
data_Rikiki 2D_windows_x86_64/System.Net.WebSockets.Client.dll
data_Rikiki 2D_windows_x86_64/System.Net.WebSockets.dll
data_Rikiki 2D_windows_x86_64/System.Numerics.dll
data_Rikiki 2D_windows_x86_64/System.Numerics.Vectors.dll
data_Rikiki 2D_windows_x86_64/System.ObjectModel.dll
data_Rikiki 2D_windows_x86_64/System.Private.CoreLib.dll
data_Rikiki 2D_windows_x86_64/System.Private.DataContractSerialization.dll
data_Rikiki 2D_windows_x86_64/System.Private.Uri.dll
data_Rikiki 2D_windows_x86_64/System.Private.Xml.dll
data_Rikiki 2D_windows_x86_64/System.Private.Xml.Linq.dll
data_Rikiki 2D_windows_x86_64/System.Reflection.DispatchProxy.dll
data_Rikiki 2D_windows_x86_64/System.Reflection.dll
data_Rikiki 2D_windows_x86_64/System.Reflection.Emit.dll
data_Rikiki 2D_windows_x86_64/System.Reflection.Emit.ILGeneration.dll
data_Rikiki 2D_windows_x86_64/System.Reflection.Emit.Lightweight.dll
data_Rikiki 2D_windows_x86_64/System.Reflection.Extensions.dll
data_Rikiki 2D_windows_x86_64/System.Reflection.Metadata.dll
data_Rikiki 2D_windows_x86_64/System.Reflection.Primitives.dll
data_Rikiki 2D_windows_x86_64/System.Reflection.TypeExtensions.dll
data_Rikiki 2D_windows_x86_64/System.Resources.Reader.dll
data_Rikiki 2D_windows_x86_64/System.Resources.ResourceManager.dll
data_Rikiki 2D_windows_x86_64/System.Resources.Writer.dll
data_Rikiki 2D_windows_x86_64/System.Runtime.CompilerServices.Unsafe.dll
data_Rikiki 2D_windows_x86_64/System.Runtime.CompilerServices.VisualC.dll
data_Rikiki 2D_windows_x86_64/System.Runtime.dll
data_Rikiki 2D_windows_x86_64/System.Runtime.Extensions.dll
data_Rikiki 2D_windows_x86_64/System.Runtime.Handles.dll
data_Rikiki 2D_windows_x86_64/System.Runtime.InteropServices.dll
data_Rikiki 2D_windows_x86_64/System.Runtime.InteropServices.JavaScript.dll
data_Rikiki 2D_windows_x86_64/System.Runtime.InteropServices.RuntimeInformation.dll
data_Rikiki 2D_windows_x86_64/System.Runtime.Intrinsics.dll
data_Rikiki 2D_windows_x86_64/System.Runtime.Loader.dll
data_Rikiki 2D_windows_x86_64/System.Runtime.Numerics.dll
data_Rikiki 2D_windows_x86_64/System.Runtime.Serialization.dll
data_Rikiki 2D_windows_x86_64/System.Runtime.Serialization.Formatters.dll
data_Rikiki 2D_windows_x86_64/System.Runtime.Serialization.Json.dll
data_Rikiki 2D_windows_x86_64/System.Runtime.Serialization.Primitives.dll
data_Rikiki 2D_windows_x86_64/System.Runtime.Serialization.Xml.dll
data_Rikiki 2D_windows_x86_64/System.Security.AccessControl.dll
data_Rikiki 2D_windows_x86_64/System.Security.Claims.dll
data_Rikiki 2D_windows_x86_64/System.Security.Cryptography.Algorithms.dll
data_Rikiki 2D_windows_x86_64/System.Security.Cryptography.Cng.dll
data_Rikiki 2D_windows_x86_64/System.Security.Cryptography.Csp.dll
data_Rikiki 2D_windows_x86_64/System.Security.Cryptography.dll
data_Rikiki 2D_windows_x86_64/System.Security.Cryptography.Encoding.dll
data_Rikiki 2D_windows_x86_64/System.Security.Cryptography.OpenSsl.dll
data_Rikiki 2D_windows_x86_64/System.Security.Cryptography.Primitives.dll
data_Rikiki 2D_windows_x86_64/System.Security.Cryptography.X509Certificates.dll
data_Rikiki 2D_windows_x86_64/System.Security.dll
data_Rikiki 2D_windows_x86_64/System.Security.Principal.dll
data_Rikiki 2D_windows_x86_64/System.Security.Principal.Windows.dll
data_Rikiki 2D_windows_x86_64/System.Security.SecureString.dll
data_Rikiki 2D_windows_x86_64/System.ServiceModel.Web.dll
data_Rikiki 2D_windows_x86_64/System.ServiceProcess.dll
data_Rikiki 2D_windows_x86_64/System.Text.Encoding.CodePages.dll
data_Rikiki 2D_windows_x86_64/System.Text.Encoding.dll
data_Rikiki 2D_windows_x86_64/System.Text.Encoding.Extensions.dll
data_Rikiki 2D_windows_x86_64/System.Text.Encodings.Web.dll
data_Rikiki 2D_windows_x86_64/System.Text.Json.dll
data_Rikiki 2D_windows_x86_64/System.Text.RegularExpressions.dll
data_Rikiki 2D_windows_x86_64/System.Threading.Channels.dll
data_Rikiki 2D_windows_x86_64/System.Threading.dll
data_Rikiki 2D_windows_x86_64/System.Threading.Overlapped.dll
data_Rikiki 2D_windows_x86_64/System.Threading.Tasks.Dataflow.dll
data_Rikiki 2D_windows_x86_64/System.Threading.Tasks.dll
data_Rikiki 2D_windows_x86_64/System.Threading.Tasks.Extensions.dll
data_Rikiki 2D_windows_x86_64/System.Threading.Tasks.Parallel.dll
data_Rikiki 2D_windows_x86_64/System.Threading.Thread.dll
data_Rikiki 2D_windows_x86_64/System.Threading.ThreadPool.dll
data_Rikiki 2D_windows_x86_64/System.Threading.Timer.dll
data_Rikiki 2D_windows_x86_64/System.Transactions.dll
data_Rikiki 2D_windows_x86_64/System.Transactions.Local.dll
data_Rikiki 2D_windows_x86_64/System.ValueTuple.dll
data_Rikiki 2D_windows_x86_64/System.Web.dll
data_Rikiki 2D_windows_x86_64/System.Web.HttpUtility.dll
data_Rikiki 2D_windows_x86_64/System.Windows.dll
data_Rikiki 2D_windows_x86_64/System.Xml.dll
data_Rikiki 2D_windows_x86_64/System.Xml.Linq.dll
data_Rikiki 2D_windows_x86_64/System.Xml.ReaderWriter.dll
data_Rikiki 2D_windows_x86_64/System.Xml.Serialization.dll
data_Rikiki 2D_windows_x86_64/System.Xml.XDocument.dll
data_Rikiki 2D_windows_x86_64/System.Xml.XmlDocument.dll
data_Rikiki 2D_windows_x86_64/System.Xml.XmlSerializer.dll
data_Rikiki 2D_windows_x86_64/System.Xml.XPath.dll
data_Rikiki 2D_windows_x86_64/System.Xml.XPath.XDocument.dll
data_Rikiki 2D_windows_x86_64/WindowsBase.dll
Rikiki 2D.console.exe
Rikiki 2D.exe
Rikiki 2D.pck
Rikiki 2D_windows.zip
